@model IEnumerable<Library.Web.Models.BookView>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label">Find by name:</label>
            </div>
            <div class="col-md-3">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Authors)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @foreach (var item1 in item.Authors)
            {
                <p>@item1.FirstName @item1.LastName</p>
            }
        </td>
        @{
            if (item.Authors.Count() != 0)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookID }) |
                    @Html.ActionLink("AddAuthor", "AddAuthor", new { id = item.BookID }) |
                    @Html.ActionLink("DeleteAuthor", "DeleteAuthor", new { id = item.BookID })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BookID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookID }) |
                    @Html.ActionLink("AddAuthor", "AddAuthor", new { id = item.BookID })
                </td>
            }
        }
    </tr>
    }

</table>
