@model Storage.Web.Models.CategoryView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategoryView</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
    <h4 class="text-center">
        <b>Products:</b>
    </h4>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Brand
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
        </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
